In [13]:
pwd

'C:\\Users\\rajag\\Desktop\\convolve\\convolve_epoch_1\\notebook'

In [14]:
cd ..

C:\Users\rajag\Desktop\convolve\convolve_epoch_1

In [15]:
cd data

C:\Users\rajag\Desktop\convolve\convolve_epoch_1\data

In [43]:
import pandas as pd 
import numpy as np
import json

In [52]:
with open('train.json', 'r') as f:
    dict_train = json.load(f)

df = pd.DataFrame.from_dict(dict_train, orient='index')
df.reset_index(level=0, inplace=True)

In [55]:
df.rename(columns = {'index':'log',0:'status'}, inplace = True)

In [57]:
df.status.unique()

array(['normal', 'abnormal'], dtype=object)

In [61]:
percentage_normal = (len(df[df['status'] == 'normal'])/len(df))*100
percentage_normal

98.32174999199307

In [62]:
percentage_abnormal = percentage_normal = (len(df[df['status'] == 'abnormal'])/len(df))*100
percentage_abnormal

1.678250008006918

In [63]:
df[df['status'] == 'normal']['log'].iloc[1]

' 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n'

In [64]:
df.head()

,log,status
0,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n,normal
1,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n,normal
2,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n,normal
3,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n,normal
4,1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C:J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n,normal

In [65]:
df2 = df

In [66]:
df2["log"]= df2["log"].str.split(":", n = 3, expand = False)

In [67]:
df2.head()

,log,status
0,"[ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.363779 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]",normal
1,"[ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]",normal
2,"[ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.675872 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]",normal
3,"[ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.823719 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]",normal
4,"[ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.982731 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]",normal

In [68]:
pd.set_option('display.max_colwidth', None)
df2.iloc[1]

log       [ 1117838570 2005.06.03 R02-M1-N0-C, J12-U11 2005-06-03-15.42.50.527847 R02-M1-N0-C, J12-U11 RAS KERNEL INFO instruction cache parity error corrected\n]
status                                                                                                                                                      normal
Name: 1, dtype: object

In [69]:
df3 = pd.DataFrame(df2['log'].to_list(), columns=['log1','log2','log3','log4'])

In [80]:
(len(df3[df3['log4'].notnull()])/len(df))*100

14.37084046631327