In [1]:
pwd

'C:\\Users\\rajag\\Desktop\\convolve\\convolve_epoch_1\\notebook'

In [2]:
cd ..

C:\Users\rajag\Desktop\convolve\convolve_epoch_1

In [3]:
cd data

C:\Users\rajag\Desktop\convolve\convolve_epoch_1\data

In [54]:
import pandas as pd 
import numpy as np
import json

In [55]:

# with open('train.json', 'r') as f:
#     data = json.load(f)
# df2 = pd.DataFrame.from_dict(data, orient="index")
# df = pd.DataFrame({'status': data})

In [56]:
# df2.head()

In [57]:
# map_index_to_word = pd.read_json('train.json', typ='dictionary')

In [58]:
# df2 = pd.DataFrame.from_dict(map_index_to_word, orient="index")

In [59]:
# type(map_index_to_word)

In [60]:
# df['index'] = [i for i in range(df.shape[0])]

In [61]:
# df.head()

                                                    status  index
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal      0
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal      1
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal      2
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal      3
 1117838570 2005.06.03 R02-M1-N0-C:J12-U11 2005...  normal      4

In [62]:
# for col in df.columns:
#     print(col)

status
index

In [70]:
with open('train.json', 'r') as f:
    dict_train = json.load(f)

df = pd.DataFrame.from_dict(dict_train, orient='index')
df.reset_index(level=0, inplace=True)

In [71]:
for col in df.columns:
    print(col)

index
0

In [73]:
df.head()

                                               index       0
0   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
1   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
2   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
3   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
4   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal

In [76]:
df.rename(columns = {'index':'log',0:'status'}, inplace = True)

In [77]:
df.head()

                                                 log  status
0   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
1   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
2   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
3   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal
4   1117838570 2005.06.03 R02-M1-N0-C:J12-U11 200...  normal

In [82]:
df.status.unique()

array(['normal', 'abnormal'], dtype=object)

In [83]:
# len(df[df['status'] == 'abnormal'])

69692

In [84]:
# len(df[df['status'] == 'normal'])

4082967

In [85]:
# len(df)

4152659

In [87]:
percentage_normal = (len(df[df['status'] == 'normal'])/len(df))*100
percentage_normal

98.32174999199307

In [88]:
percentage_abnormal = percentage_normal = (len(df[df['status'] == 'abnormal'])/len(df))*100
percentage_abnormal

1.678250008006918

In [96]:
df[df['status'] == 'abnormal']['log'].iloc[6000]

'1118535931 2005.06.11 R30-M0-N9-C:J16-U01 2005-06-11-17.25.31.599660 R30-M0-N9-C:J16-U01 RAS KERNEL FATAL data TLB error interrupt'